@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Groztec';
  src: url('/fonts/GrotzecCond-Demibold.otf');
}

@font-face {
  font-family: 'Scto Grotesk';
  font-weight: bold;
  src: url('/fonts/Scto\ Grotesk\ A\ Bold.woff');
}

.no-scroll {
  overflow: hidden;
}


@font-face {
  font-family: 'Scto Grotesk';
  font-weight: regular;
  src: url('/fonts/Scto\ Grotesk\ A\ Regular.woff');
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import '../node_modules/@syncfusion/ej2-base/styles/material3.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material3.css';